@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kim's Shop to Cure Hangovers</h1>
    <p class="lead">Feeling hungover? Then we have the products you need to save the day!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pills and medicin</h2>
        <p>
            Here you find all kinds of pills and medicines to cure your hangover.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Food</h2>
        <p>Hungry? Click here to see our food selection.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Other</h2>
        <p>Here you'll find all such things as makeup and cozy clothes.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">See more &raquo;</a></p>
    </div>
</div>